*{
  font-family: times new roman;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000000;
  text-align: left;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.bg-dark {
  background-color: #000!important;
}
.table .thead-light th {
  color: #000;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

body {
  margin: 0;
  font-family: times new roman;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #00cec9;
}
